@charset "UTF-8";
body {
  margin: 0;
  color: blue;
  font: 11px/1.455 Arial, Helvetica, sans-serif;
  background: #f4f4f4 url(../images/bg-page.png) 50% 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}

img {
  border: 0;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}

a {
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

input, textarea, select {
  font: 100% Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer;
}

input[type=submit],
input[type=text],
input[type=password],
input[type=file],
textarea {
  -webkit-appearance: none;
}

textarea,
input[type=submit],
input[type=text] {
  -webkit-border-radius: 0;
          border-radius: 0;
}

input[type=image] {
  padding: 0;
  border: none;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

form :-moz-placeholder {
  color: #main-color;
}

form ::-moz-placeholder {
  color: #main-color;
  opacity: 1;
}

form :-ms-input-placeholder {
  color: #main-color;
}

form ::-webkit-input-placeholder {
  color: #main-color;
}

h1 {
  font-size: 15px;
  line-height: 1.067;
  font-weight: 400;
  font-style: italic;
  margin: 0 0 17px;
}

h2 {
  font-size: 11px;
  margin: 0;
}

h3 {
  font-size: 11px;
  margin: 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

mark {
  background: none;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

p, dl, menu, ol, ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu, ol, ul {
  padding: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

.wrapper {
  width: 641px;
  margin: 0 auto;
  background: red;
}

.header {
  background: blue url(../images/bg-header.png) repeat-y;
  padding: 3px 60px 20px;
  margin: 0 0 36px;
  border: solid #main-color;
  border-width: 8px 0 7px;
}

.logo {
  background: url(../images/logo.png) no-repeat;
  display: block;
  margin: 0 auto;
  width: 267px;
  height: 77px;
  text-indent: -9999px;
}

.logo a {
  display: block;
  /*для того, чтобы лого было полностью кликабельным*/
  height: 100%;
}

.main {
  display: table;
  width: 100%;
  margin-bottom: 32px;
}

.sidebar {
  display: table-cell;
  vertical-align: top;
  width: 148px;
  height: 415px;
  padding: 0 15px 0 22px;
  border-right: 2px dotted blue;
  /*background: url(../images/decor-sidebar.png) repeat-y 100% 0;*/
}

.main-nav ul {
  margin: 0;
  padding: 0;
}

.main-nav li {
  margin-bottom: 11px;
  line-height: 1.182;
}

.main-nav a:before {
  content: '';
  width: 8px;
  height: 8px;
  background: blue;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  left: 0;
  top: 2px;
}

.main-nav a:hover:before,
.main-nav .active a:before {
  /*сделать красным цветом точку, которая находится в li с классом .active*/
  background: #cb181b;
}

.main-nav a {
  position: relative;
  padding-left: 12px;
  display: inline-block;
  text-decoration: none;
}

.main-nav .active a,
.main-nav a:hover {
  color: #a8141a;
}

.main-nav .main-nav__sub-nav {
  padding: 4px 0 0 11px;
  font-size: 9px;
}

.main-nav .main-nav__sub-nav a:before {
  width: 5px;
  height: 5px;
}

.content {
  display: table-cell;
  vertical-align: top;
  padding: 0 20px 0 8px;
}

.content p {
  margin: 0 0 16px;
}

.content p:last-child {
  margin-bottom: 0;
}

.footer {
  background: blue url(../images/bg-footer.png) 0 100% no-repeat;
  padding: 19px 38px 37px 27px;
  color: red;
}

/* задание hasLayout или clearfix, очищение потока*/
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.footer a {
  color: red;
}

.company-address {
  font-size: 9px;
  font-style: normal;
  padding: 0;
  float: left;
  width: 470px;
  margin: 42px 0 0;
}

.logo-sense {
  float: right;
}
